<header>
    <div class="head-title">
        <a href="<%= url_for() %>" style="font-weight: normal;color: #555;"><%= config.title %></a>
    </div>
    <div class="head-action">
        <div class="toggle-btn"></div>
        <div class="light-btn"></div>
        <div class="search-btn"></div>
    </div>
    <form class="head-search" method="post">
        <input type="text" name="s" placeholder="搜索什么？">
    </form>
    <nav class="head-menu">
        <a href="<%= url_for() %>">首页</a>
        <div class="has-child">
            <a>分类</a>
            <div class="sub-menu">
                <%- list_categories({
                    show_count: false
                }) %>
            </div>
        </div>
        <% for (var i in theme.menu){ %>
            <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </nav>
	<script>
	    var observer = new MutationObserver(callback)
        observer.observe(document.body, {
        	attributes: true
        });
		function callback(){
			headTitle = document.body.getElementsByClassName("head-title")
		    style = headTitle.item(0).childNodes.item(1).attributes.style.textContent
		    if (document.body.classList.contains("dark-theme")){
		    	headTitle.item(0).childNodes.item(1).attributes.style.textContent = style.replace("#555", "#bbb")
		    } else {
		    	headTitle.item(0).childNodes.item(1).attributes.style.textContent = style.replace("#bbb", "#555")
		    }
		}
		callback()
	</script>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</header>
