<main>
    <div class="wrap min">
        <section class="post-title">
            <h2><%= page.title ? page.title : "没有标题的文章" %></h2>
            <div class="post-meta">
                <time class="date"><%= date(page.date, "YYYY.MM.DD HH:mm:ss") %></time>
            <% if (page.categories && page.categories.length){ %>
                <span class="category"><%- list_categories(page.categories, {
                    show_count: false,
                    class: "",
                    style: "none",
                    separator: "，"
                    }) %></span>
            <% } %>
				<span class="view" id="busuanzi_container_page_pv">阅读<span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i></span>次</span>
            </div>
        </section>
        <article class="post-content" id="post-context">
        <% if (moment().unix() - page.date.unix() >= 15552000) { %>
            <blockquote>这篇文章上次修改于 <%= Math.ceil((moment().unix() - page.date.unix()) / 86400) %> 天前，可能其部分内容已经发生变化，如有疑问可询问作者。</blockquote>
        <% } %>
            <%- page.content %>
        </article>
        <section class="post-near">
            <ul>
                <% if( page.prev !== undefined) { %>
                    <li>上一篇: <a href="<%= url_for(page.prev.path) %>"><%= page.prev.title %></a></li>
                <% } else { %>
                    <li>上一篇: 看完啦 (つд⊂)</li>
                <% } %>
                <% if( page.next !== undefined) { %>
                    <li>下一篇: <a href="<%= url_for(page.next.path) %>"><%= page.next.title %></a></li>
                <% } else { %>
                    <li>下一篇: 看完啦 (つд⊂)</li>
                <% } %>
            </ul>
        </section>
        <% if (page.tags && page.tags.length){ %>
            <section class="post-tags">
            <%- list_tags(page.tags, {
                show_count: false,
                class: "",
                style: "none",
                separator: ""
                }) %>
            </section>
        <% } %>
    <% if (theme.author && theme.author_text) { %>
        <section class="post-author">
        <% if (theme.author_avatar) { %>
            <figure class="author-avatar">
                <img src="<%- theme.author_avatar %>" alt="<%= theme.author %>" />
            </figure>
        <% } %>
            <div class="author-info">
                <h4><%= theme.author %></h4>
                <p><%- theme.author_text %></p>
            </div>
        </section>
    <% } %>
	<script src="https://giscus.app/client.js"
        data-repo="L0serQianXia/blog"
        data-repo-id="R_kgDOLSv9Jg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLSv9Js4CdRdV"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
	</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/show-language/prism-show-language.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
		<script type="text/javascript">
		$(function() {    
          $("img").lazyload({
              placeholder: "/blog/static/img/loading.gif",
              effect: "fadeIn",
			  threshold: 100
            });
          });
		</script>
    </div>
</main>
